<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <!-- create 1 new component when save product-->
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="mp_create_component" instance="Mageplaza\MagentoComponent\Observer\CreateComponent"/>
    </event>
</config>
